body {
  background: aqua;
  font-size: 20px;
}

.logo {
  width: 150px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.menu-items {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic-left {
    display: flex;
    padding-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}

.pic-right {
    display: flex;
    flex-direction: row-reverse;
}

.right-side {
    padding-left: 0;
    padding-right: 30px;
}

footer {
    width: 200px;
}

.button {
    display: inline;
    padding: 1rem 2rem;
    border: 10px solid green;
    color: white;
    text-decoration: none;
    background-color: green;
    border-radius: 5px;
    margin: 0;
    height: fit-content;
}